/* common class */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex{
    display: flex;
    align-items: center;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

main {
    margin-top: 8rem;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-description {
    max-width: 542px;
    width: 100%;
    line-height: 26px;
    font-size: 1rem;
    margin: 24px 0;

}
    


.btn{
    background-color: #ff900e;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2rem;
}

/* header section */

/* nav bar */
.brand{
    font-weight: bold;
    font-size: 2.5rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0 ;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
}

/* banner section */
.banner{
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin: 2rem auto;
}
.banner-description{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin: 2rem auto;

}
.banner-img{
    width: 100%;
}

/* team section */
.teams{
    align-items: center;
    
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.team-content{
    margin-left: 130px;
    max-width: 530px;
}

#span1{
    font-weight: 500
}
.team-description{
    line-height: 26px;
    color: #727272;
    margin: 24px auto;
}



.feature-container{
    gap: 5rem;
    align-items: center;
}
#feature-section-title {
    max-width: 408px;
    width: 100%;
    padding-left: 1.3rem;
    border-left: 5px solid rgba(255, 144, 14, 1);
}
.feature-card .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-content p {
    font-weight: 1.7rem;
    margin-bottom: 1.8rem;
}
.feature-content .feature-card {
    padding: 1.9rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    border-radius: 8px;
}
.feature-content .text-gray {
    margin-bottom: 0px;
}
#experience-badge {
    padding: 30px 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    margin-left: -75px;
    margin-top: -90px;


}
#experiennce-year {
    font-size: 3rem;
}

.feature-container .feature-img {
    max-width: 700px;
    width: 100%;
    position: relative;

}

.feature-container .feature-img img {
    width: 100%;
    object-fit: cover;
}


.some-fact {
    padding-top: 4rem;
}

.some-fact-content {
    margin-bottom: clamp(2rem, 6.9vw, 6.25rem);

}

.some-fact-container .fact-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: clamp(1.5rem, 8.6vw, 7.75rem);
    /* align-items: center;
    justify-content: space-between; */
    padding-inline: 2rem;

}

.some-fact-container .fact-card .card {
    border: 2px solid rgba(255, 144, 14, 1);
    /* width: 240px; */
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.fact-card .card .card-number {
    font-size: clamp(1.7rem, 3.1vw, 2.8rem);
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fact-card .card .card-name {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 600;
    margin-top: 10px;
}


.sponsors-container {
   margin: 100px auto;

    padding: 1rem;
}
.sponsors-container .sponsors-info {
    max-width: 542px;
    width: 100%;
    text-align: center;
    margin: 60px auto;
}

.sponsors-container .company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
    gap: clamp(2rem, 10vw, 8rem);
    align-items: center;
}

.company .company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company .company-logo img {
    max-width: 166px;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}






footer {
    margin: 4rem auto 14rem auto;
}

footer .footer-container {
   justify-content: center;
    padding: clamp(1.5rem, 3vw, 2.5rem);
     text-align: center;
}

footer .footer-container p {
    padding: clamp(1.5rem, 3vw, 2.5rem) auto;
    font-size: 1.25rem;
  
}




@media screen and (max-width: 576px) {
    .navbar 
     
    ,.team{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    } 
    .nav-links{
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
    }
    .team-img   {
        grid-template-columns: repeat(1,1fr);
    }
    .team-content{
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .feature-container{
        flex-direction: column;
    }
    #experience-badge{
        margin: 20px 0 20px 150px;
       
    }

    .some-fact-content{
        align-items: center;
        text-align: center;
        margin-left: 20px;
    }





    
}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .feature{
        flex-direction: column;
    }
    .team-content{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}